<template name='layout'>
<div class='container'>
    <nav class='navbar navbar-default'>
        <ul class='nav navbar-nav'>
            <li> <a class='navbar-brand' href='/'> Chess </a> </li>
            <li> <a href='/users'> Find Friends </a> </li>
            <li> <a href='/games'> Play Chess </a> </li>
        </ul>

        <div class='collapse navbar-collapse' id='navigation'>
            <ul class='nav navbar-nav navbar-right'>
                {{> loginButtons }}
            </ul>
        </div>
    </nav>

    <div id='main'>
        {{> Template.dynamic template=child }}
    </div>
</div>
</template>
